@charset "UTF-8";
/* CSS Document */
body{
	background:url(images/bg_body.png) repeat;
	font-family: 'Open Sans', sans-serif;
	color:#4070B7;
}

/* Estrucutra */
#content{
	min-height: 500px;
	margin-bottom:20px;
}
footer{
	height:87px;
	background:url(images/bg_azul.png) repeat;
}
.centrado{
	width:960px;
	margin:0 auto;
}
aside{
	width:220px;
	min-height:400px;
	background:#fff;
	float:left;
	margin:0px 10px;
	border-radius: 5px;
	box-shadow: 0px 3px 10px #666;
}
section{
	width:700px;
	min-height:450px;
	float:left;
	margin:0px 10px;
	background:#fff;
	border-radius: 5px;
	box-shadow: 0px 3px 10px #666;
}
map{
	width:700px;
	height:450px;
	float:left;
	margin:0px 10px;
}
.clearboth{
	clear:both;
}
	
/* Elementos */
#logo{
	display:block;
	float:left;
	width:380px;
	height:60px;
	margin:8px 10px 0px;
	opacity:0.9;
	background:url(images/logo.png) no-repeat;
}
#logo span{
	display:none;
}
#logo:hover{	
	opacity:1;
}
.marca{
	height:66px;
}
.contenedor_imagen{
	width:180px;
	height:140px;
	background:#CCC;
	margin:20px 20px 10px;
}

/* Menu y botones*/
.boton{
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
	background-color: #ccc;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.boton-azul{
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	background-color: #019ad2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#66A8DE),to(#4070B7));
	background-image: -moz-linear-gradient(#66A8DE,#4070B7);
	background-image: -ms-linear-gradient(#66A8DE,#4070B7);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#66A8DE),color-stop(100%,#4070B7));
	background-image: -webkit-linear-gradient(#66A8DE,#4070B7);
	background-image: -o-linear-gradient(#66A8DE,#4070B7);
	background-image: linear-gradient(#66A8DE,#4070B7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66A8DE',endColorstr='#4070B7',GradientType=0);
	border-color: #057ed0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.boton-azul:hover{
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	background-color: #019ad2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#4070B7),to(#4055B7));
	background-image: -moz-linear-gradient(#4070B7,#4055B7);
	background-image: -ms-linear-gradient(#4070B7,#4055B7);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4070B7),color-stop(100%,#4055B7));
	background-image: -webkit-linear-gradient(#4070B7,#4055B7);
	background-image: -o-linear-gradient(#4070B7,#4055B7);
	background-image: linear-gradient(#4070B7,#4055B7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4070B7',endColorstr='#4055B7',GradientType=0);
	border-color: #057ed0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
nav{
	margin:0px 20px 10px;
}
nav ul li{
	width:180px;
	margin-bottom:5px;
}
nav ul li a{
	display:block;
	width:170px;
	height:36px;
	padding-left: 48px;
	color: #fff;
	font-weight:300;
	font-style:italic;
	font-size:17px;
	text-decoration:none;
	text-transform:uppercase;
	background-image:url(images/spry_menu.png);
	background-repeat:no-repeat;
	line-height: 2.2;
}
#home{
	background-position-y:-160px;
}
#perfil{
	background-position-y:-2px;
}
#secolectivo{
	background-position-y:-43px;
}
#mensajes{
	background-position-y:-80px;
}
#calcular{
	background-position-y:-120px;
}
.datos-perfil{
	margin:10px 20px;
	font-size:14px;
}
.nombre{
	display:block;
	margin-left:20px;
	font-weight:600;
	font-size:18px;
}
h1{
	font-weight:600;
	font-size:21px;
	font-style:italic;
	text-transform:uppercase;
	display:block;
	border-bottom:1px solid #4070B7;
	margin: 20px 20px 0px;
}

.caja-secolectivo{
	width:200px;
	float:left;
	text-align:center;
	margin:100px 10px 10px;
}
.imagen-secolectivo{
	width:200px;
	height: 200px;
	border-radius:100px;
	overflow: hidden;
	background:#FFF;
	box-shadow: 2px 2px 4px;
	margin-bottom:10px;
}
#ciudad-empresarial{
	background:url(images/ciudad_empresarial.png) no-repeat;
}
.taco{
	background:url(images/taco.jpg) no-repeat;
}
